{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block title %}Register Page{% endblock %}
{% block content %}
<form class="form" action="" method="POST">
    <h2>REGISTER</h2>
    {{ form.hidden_tag() }}
    {{form.username(class="form-input", placeholder=" Username")}}

    {{form.email(class="form-input", placeholder=" Email")}}

    {{form.password1(class="form-input", placeholder=" Password")}}

    {{form.password2(class="form-input", placeholder=" Confirm password")}} 

    {{form.submit(class="form-input form-button")}}
</form>
{% endblock %}
